<h1><%= @user.name %> information</h1>

<p>
	Country: <b><%= @profile.country %></b>
</p>

<p>
	Birthday: <b><%= @profile.birthday %></b>
</p>

<p>
	Gender: <b><%= @profile.gender %></b>
</p>

<p>
	Your avatar:<br/>
	<%= if @profile.avatar?
		    image_tag(@profile.avatar)
      else
      	image_tag(@profile.avatar = "default.png")
      end	
	%>
</p>
